<!-- header.component.html -->
<nav class="hitchgo-navbar" id="hitchgoNavbar">
  <div class="hitchgo-navbar-container">
    <a class="hitchgo-brand" routerLink="/">
      <img src="../../../assets/logosimple.png" width="150px" alt="">
    </a>
    
    <button class="hitchgo-toggler" type="button" (click)="toggleNavbar()">
      <span class="hitchgo-toggler-icon"></span>
    </button>
    
    <div class="hitchgo-navbar-collapse" id="hitchgoNavbarContent" [ngClass]="{'show': isNavbarOpen}">
      <ul class="hitchgo-nav-list">
        <li class="hitchgo-nav-item">
          <a class="hitchgo-nav-link" routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">{{ labels.home }}</a>
        </li>
        <li class="hitchgo-nav-item">
          <a class="hitchgo-nav-link" routerLink="/about" routerLinkActive="active">{{ labels.about }}</a>
        </li>
        <li class="hitchgo-nav-item">
          <a class="hitchgo-nav-link" routerLink="/services" routerLinkActive="active">{{ labels.services }}</a>
        </li>
        <li class="hitchgo-nav-item">
          <a class="hitchgo-nav-link" routerLink="/contact" routerLinkActive="active">{{ labels.contact }}</a>
        </li>
        <li class="hitchgo-nav-item">
          <a class="hitchgo-nav-link" routerLink="/blog" routerLinkActive="active">{{ labels.blog }}</a>
        </li>
        <li class="hitchgo-nav-item lang-dropdown">
          <button class="dropdown-toggle" type="button" id="langDropdown" (click)="toggleLangDropdown($event)">
            <img src="{{ currentLang === 'en' ? 'assets/GB.png' : 'assets/SP.png' }}" alt="Language" class="flag-icon">
          </button>
          <ul class="dropdown-menu" [ngClass]="{'show': isLangDropdownOpen}" aria-labelledby="langDropdown">
            <li><a class="dropdown-item" (click)="setLang('en')">
              <img src="assets/GB.png" alt="English" class="flag-icon"> 
            </a></li>
            <li><a class="dropdown-item" (click)="setLang('es')">
              <img src="assets/SP.png" alt="Español" class="flag-icon">
            </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Spacer to prevent content from hiding behind fixed navbar -->
<div class="hitchgo-navbar-spacer"></div>