<div class="hitchgo-blog">
  <div class="hitchgo-blog-header">
    <h2 class="hitchgo-blog-title">{{ labels.blogTitle }}</h2>
  </div>
  
  <div class="hitchgo-blog-grid">
    <div class="hitchgo-blog-card" *ngFor="let post of blogPosts">
      <img *ngIf="post.imageUrl" [src]="post.imageUrl" class="hitchgo-blog-image" alt="{{ post.title }}">
      <div *ngIf="!post.imageUrl" class="hitchgo-blog-placeholder">
        <span class="hitchgo-blog-placeholder-icon">📝</span>
      </div>

      <div class="hitchgo-blog-content">
        <h3 class="hitchgo-blog-card-title">{{ post.title }}</h3>
        <div class="hitchgo-blog-meta">
          {{ labels.by }} <span class="hitchgo-blog-author">{{ post.author }}</span>
          &nbsp;•&nbsp; {{ post.publishDate | date:'longDate' }}
        </div>
        <p class="hitchgo-blog-excerpt">{{ post.content | slice:0:150 }}...</p>
        <a [routerLink]="['/blog', post.id]" class="hitchgo-blog-link">{{ labels.readMore }}</a>
      </div>
    </div>
  </div>
</div>
